force-app/main/default/flows/Create_New_Vendor_Visit_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Visit_Confirmation_Email</name>
        <label>Send Visit Confirmation Email</label>
        <locationX>2232</locationX>
        <locationY>725</locationY>
        <actionName>Visit_Confirmation__c.Visit_Confirmation_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Event_Relations_Loop</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>NewVisitConfirmation.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Add_Attendee_to_Attendee_Text</name>
        <label>Assign Add Attendee to Attendee Text</label>
        <locationX>1500</locationX>
        <locationY>872</locationY>
        <assignmentItems>
            <assignToReference>EventAttendeeListNames</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!EventAttendeeListNames}, {!GetContactRecord.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_No_More_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Add_Contact_Record_To_Attendee_List</name>
        <label>Assign Add Contact Record To Attendee List</label>
        <locationX>1351</locationX>
        <locationY>862</locationY>
        <assignmentItems>
            <assignToReference>EventContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetContactRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Add_Attendee_to_Attendee_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Attendee_Stage</name>
        <label>Assign Attendee Stage</label>
        <locationX>1370</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Attendees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Basic_Event_Info</name>
        <label>Assign_Basic_Event_Info</label>
        <locationX>1376</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>NewEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Event_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Event_End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Event_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvent.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvent.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Visit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvent.Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEvent.Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Room_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Attendee_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Basic_Info_Stage</name>
        <label>Assign Basic Info Stage</label>
        <locationX>233</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Basic_Info</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Owner_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Confirm_Stage</name>
        <label>Assign Confirm Stage</label>
        <locationX>1652</locationX>
        <locationY>633</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Event_Relation_Fields</name>
        <label>Assign Event Relation Fields</label>
        <locationX>1815</locationX>
        <locationY>787</locationY>
        <assignmentItems>
            <assignToReference>NewEventRelation.EventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewEvent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEventRelation.RelationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactLoopVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEventRelation.IsInvitee</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewEventRelation.IsParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Event_Relation_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Room_By_Government_POC</name>
        <label>Assign Room By Government POC</label>
        <locationX>1019</locationX>
        <locationY>115</locationY>
        <assignmentItems>
            <assignToReference>RoomId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Government_POC_Record.Room__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Room_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Room_By_Lookup</name>
        <label>Assign Room By Lookup</label>
        <locationX>1006</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>RoomId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Room_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Room_Stage</name>
        <label>Assign Room Stage</label>
        <locationX>743</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Room</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Room_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Visit_Confirmation</name>
        <label>Assign Visit Confirmation</label>
        <locationX>2087</locationX>
        <locationY>920</locationY>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Event_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewEvent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Facility_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Event_Start_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Event_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactLoopVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Government_POC_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventOwner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Government_POC_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!EventOwner.FirstName} {!EventOwner.LastName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Government_POC_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventOwner.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactLoopVariable.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactLoopVariable.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactLoopVariable.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Event_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_Select_Event_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Event_Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Event_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Room_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Visit_Confirmation_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Facilty_Id_Provided_Decision</name>
        <label>Default Facility Id Provided Decision</label>
        <locationX>311</locationX>
        <locationY>565</locationY>
        <defaultConnector>
            <targetReference>Select_Event_Type_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Facility_ID_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Facility_by_ID</targetReference>
            </connector>
            <label>Facility ID Was Provided</label>
        </rules>
        <rules>
            <name>User_has_Facility_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Owner_Record.Facility_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Facility_by_Name</targetReference>
            </connector>
            <label>User has Facility Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_No_More_Contacts</name>
        <label>If No More Contacts</label>
        <locationX>1486</locationX>
        <locationY>655</locationY>
        <defaultConnector>
            <targetReference>Add_Contact_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_No_More_Contacts_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>moreattendees</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Confirm_Stage</targetReference>
            </connector>
            <label>If No More Contacts decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfContactIsNull</name>
        <label>IfContactIsNull</label>
        <locationX>1227</locationX>
        <locationY>658</locationY>
        <defaultConnector>
            <targetReference>GetContactRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IscontactNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddContact.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_No_More_Contacts</targetReference>
            </connector>
            <label>IscontactNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Provided_Room_Decision</name>
        <label>Provided Room Decision</label>
        <locationX>887</locationX>
        <locationY>277</locationY>
        <defaultConnector>
            <targetReference>Assign_Room_By_Government_POC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provided_Room</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Room_Lookup.recordName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Room_By_Lookup</targetReference>
            </connector>
            <label>Provided Room</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>VisitConfirmationTypeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Event_Type__c</picklistField>
        <picklistObject>Visit_Confirmation__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Create New Vendor Visit Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Site Visit Event Create Flow</label>
    <loops>
        <name>Create_Event_Relations_Loop</name>
        <label>Create Event Relations Loop</label>
        <locationX>2072</locationX>
        <locationY>783</locationY>
        <assignNextValueToReference>ContactLoopVariable</assignNextValueToReference>
        <collectionReference>EventContactList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Event_Relation_Fields</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Event_Relation_Record</name>
        <label>Create Event Relation Record (ATTENDEE)</label>
        <locationX>1847</locationX>
        <locationY>972</locationY>
        <connector>
            <targetReference>Assign_Visit_Confirmation</targetReference>
        </connector>
        <inputReference>NewEventRelation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Visit_Confirmation_Record</name>
        <label>Create Visit Confirmation Record</label>
        <locationX>2231</locationX>
        <locationY>954</locationY>
        <connector>
            <targetReference>Send_Visit_Confirmation_Email</targetReference>
        </connector>
        <inputReference>NewVisitConfirmation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateNewEvent</name>
        <label>CreateNewEvent</label>
        <locationX>2072</locationX>
        <locationY>628</locationY>
        <connector>
            <targetReference>Create_Event_Relations_Loop</targetReference>
        </connector>
        <inputReference>NewEvent</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Default_Facility_by_ID</name>
        <label>Get Default Facility by ID</label>
        <locationX>201</locationX>
        <locationY>821</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Event_Type_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Facility__c</object>
        <outputReference>DefaultFacility</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Facility_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_Facility_by_Name</name>
        <label>Get Default Facility by Name</label>
        <locationX>458</locationX>
        <locationY>644</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Event_Type_Screen</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Owner_Record.Facility_Id__c</elementReference>
            </value>
        </filters>
        <object>Facility__c</object>
        <outputReference>DefaultFacility</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Facility_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Government_POC_Record</name>
        <label>Get Government POC Record</label>
        <locationX>50</locationX>
        <locationY>658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Facilty_Id_Provided_Decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Owner_Record.Contact_Record__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Record</name>
        <label>Get Owner Record</label>
        <locationX>105</locationX>
        <locationY>481</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Government_POC_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Room_Record</name>
        <label>Get Room Record</label>
        <locationX>1142</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Basic_Event_Info</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RoomId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Room__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactRecord</name>
        <label>GetContactRecord</label>
        <locationX>1239</locationX>
        <locationY>862</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Add_Contact_Record_To_Attendee_List</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AddContact.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Contact_Screen</name>
        <label>Add Contact Screen</label>
        <locationX>1369</locationX>
        <locationY>550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IfContactIsNull</targetReference>
        </connector>
        <fields>
            <name>Add_Contact_Screen_DT</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Create New Site Visit&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Contact_Screen_FSC1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_Contact_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_Contact_Screen_FSC2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AddContact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Visit_Confirmation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>External Attendee Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>moreattendees</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Click here to add more attendees</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Basic_Event_Info_Screen</name>
        <label>Basic Event Info Screen</label>
        <locationX>744</locationX>
        <locationY>506</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Room_Stage</targetReference>
        </connector>
        <fields>
            <name>Basic_Event_Info_Screen_DT</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Create New Site Visit&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Basic_Event_Info_Screen_FSC1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Basic_Event_Info_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Basic_Event_Info_Screen_FSC2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Event_Name</name>
            <dataType>String</dataType>
            <fieldText>Event Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Event_Start_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Event Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Event_End_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Event End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1833</locationX>
        <locationY>631</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateNewEvent</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Screen_DT1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;Create New Site Visit&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Screen_FSC1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirmation_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirmation_Screen_FSC2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirmation_Screen_DT2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;Event Info&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Event Name&lt;/b&gt;: {!NewEvent.Subject}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Event Start Time&lt;/b&gt;: {!NewEvent.StartDateTime}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Event End Time&lt;/b&gt;: {!NewEvent.EndDateTime}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Facility&lt;/b&gt;: {!Facility_Lookup.recordName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Room&lt;/b&gt;: {!Get_Room_Record.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Attendees&lt;/b&gt;: {!EventAttendeeListNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Screen_FSC3</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirmation_Screen_DT3</name>
            <fieldText>&lt;p&gt;Click Finish to create event&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Event_Type_Screen</name>
        <label>Select Event Type Screen</label>
        <locationX>742</locationX>
        <locationY>688</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Basic_Event_Info_Screen</targetReference>
        </connector>
        <fields>
            <name>Select_Event_Type_Screen_DT</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Create New Site Visit&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Event_Type_Screen_FSC</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Event_Type_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Event_Type_Screen_FSC2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_Select_Event_Type</name>
            <choiceReferences>VisitConfirmationTypeChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Select Event Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Room_Screen</name>
        <label>Select Room Screen</label>
        <locationX>642</locationX>
        <locationY>145</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Provided_Room_Decision</targetReference>
        </connector>
        <fields>
            <name>Select_Room_Screen_DT1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Create New Site Visit&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Room_Screen_PI_FSC1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Room_Screen_PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Room_Screen_FSC2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Facility_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Facility__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Facility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Visit_Confirmation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DefaultFacility.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Room_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Room__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Room</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Visit_Confirmation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Facility_Lookup.recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Facility_Lookup.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Room_Screen_DT2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 11px;&quot;&gt;Defaults to your assigned cubicle or office.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Facility_Lookup.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Attendees</name>
        <isActive>true</isActive>
        <label>Attendees</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Basic_Info</name>
        <isActive>true</isActive>
        <label>Basic Info</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Confirm</name>
        <isActive>true</isActive>
        <label>Confirm</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Room</name>
        <isActive>true</isActive>
        <label>Room</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>239</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_Basic_Info_Stage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>DefaultFacility</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Facility__c</objectType>
    </variables>
    <variables>
        <name>EventAttendeeListNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>You</stringValue>
        </value>
    </variables>
    <variables>
        <name>EventContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EventOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>NewEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>NewEventRelation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>NewVisitConfirmation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit_Confirmation__c</objectType>
    </variables>
    <variables>
        <description>Facility Id</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoomId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
