force-app/main/default/flows/Vendor_Tracking_Flow_Update_Contact_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>updateContactVIAApex</name>
        <label>updateContactVIAApex</label>
        <locationX>1106</locationX>
        <locationY>346</locationY>
        <actionName>VisitConfirmationUpdateContact</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>newContacts</name>
            <value>
                <elementReference>ThisContact</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AssignNewContactRecordValues</name>
        <label>AssignNewContactRecordValues</label>
        <locationX>907</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>ThisContact.Emergency_Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactNewEmergencyContactFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactNewMailingAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisContact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactNewMailingAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactNewMailingAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactNewMailingAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactNewMailingAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisContact.Emergency_Contact_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactNewRelationshipToEmergencyContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateContactVIAApex</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>EmergencyContactRelationshipType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Emergency_Contact_Relationship__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Vendor Tracking Flow - Update Contact Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vendor Tracking Flow - Update Contact Info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>UpdateContactRecord</name>
        <label>UpdateContactRecord</label>
        <locationX>1142</locationX>
        <locationY>499</locationY>
        <inputReference>ThisContact</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Update_Contact_Info</name>
        <label>Update Personal Info</label>
        <locationX>574</locationX>
        <locationY>706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Emergency_Contact_Info</targetReference>
        </connector>
        <fields>
            <name>Screen1flowheadertext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;VISIT CONFIRMATION FORM&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please use this form to confirm your upcoming visit with Department of the Future&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>f1hr1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>progressindicator</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>f1hr2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactNewContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>ThisContact.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Full Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>ThisContact.LastName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactNewEmailAddress</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>ThisContact.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ThisContact.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Social_Security_Number1</name>
            <fieldText>Social Security Number</fieldText>
            <fieldType>PasswordField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Birth_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ThisContact.Birthdate</elementReference>
            </defaultValue>
            <fieldText>Birth Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ThisContact.Phone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactNewMailingAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>ThisContact.MailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Mailing Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>ThisContact.MailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>ThisContact.MailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>ThisContact.MailingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>ThisContact.MailingStreet</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Emergency_Contact_Info</name>
        <label>Update Emergency Contact Info</label>
        <locationX>817</locationX>
        <locationY>769</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignNewContactRecordValues</targetReference>
        </connector>
        <fields>
            <name>s2header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;VISIT CONFIRMATION FORM&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please use this form to confirm your upcoming visit with Department of the Future&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s2h1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Screen2progressindicator</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>f2hr2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EmergencyContactFormText</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;font-size: 18px;&quot;&gt;Emergency Contact Information&lt;/u&gt;&lt;/p&gt;&lt;p&gt;In the event on an emergency, please provide us emergency contact information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactNewEmergencyContactFullName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ThisContact.Emergency_Contact_Name__c</elementReference>
            </defaultValue>
            <fieldText>Full Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactNewEmergencyContactPhoneNumber</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>ThisContact.Emergency_Contact_Phone_Number__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ThisContact.Emergency_Contact_Phone_Number__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactNewEmergencyContactEmailAddress</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <elementReference>ThisContact.Emergency_Contact_Email__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ThisContact.Emergency_Contact_Email__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Emergency Contact Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactNewRelationshipToEmergencyContact</name>
            <choiceReferences>EmergencyContactRelationshipType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relationship to Emergency Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Emergency_Contact_Info</name>
        <isActive>false</isActive>
        <label>Emergency Contact Info</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Health_Survey</name>
        <isActive>false</isActive>
        <label>Health Survey</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Personal_Contact_Info</name>
        <isActive>false</isActive>
        <label>Personal Contact Info</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Welcome</name>
        <isActive>false</isActive>
        <label>Welcome</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>230</locationX>
        <locationY>449</locationY>
        <connector>
            <targetReference>Update_Contact_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>getFormID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ThisContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
