force-app/main/default/flows/Vendor_Tracking_Flow_Health_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <description>2 choices.
I agree and consent
I decline</description>
        <name>Consent_Form_Choice_Agree_1</name>
        <choiceText>I agree and consent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I agree and consent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consent_Form_Choice_Agree_2</name>
        <choiceText>I decline</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I decline</stringValue>
        </value>
    </choices>
    <choices>
        <name>False</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>True</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Consent_Form_Decision</name>
        <label>Consent Form Decision</label>
        <locationX>575</locationX>
        <locationY>688</locationY>
        <defaultConnector>
            <targetReference>Consent_Form_Decline</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>I_agree</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consent_Form_Agreement_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Consent_Form_Choice_Agree_1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HealthSurvey1</targetReference>
            </connector>
            <label>I agree</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>EmergencyContactRelationshipType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Emergency_Contact_Relationship__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Vendor Tracking Flow - Pandemic Quest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vendor Tracking Flow - Health Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Consent_Form_Decline</name>
        <label>Consent Form Decline</label>
        <locationX>591</locationX>
        <locationY>896</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Consent_Form_Decline_Paragraph_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://crisis-demo--c.documentforce.com/sfc/servlet.shepherd/version/download/0683h000001bx5S?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Consent_Form_Decline_Paragraph_2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;In order to access a Government of the Future facility, you must complete the visitor health survey. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>finalscreen</name>
        <label>finalscreen</label>
        <locationX>1097</locationX>
        <locationY>693</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>completescreentext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;VISIT CONFIRMATION FORM&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please use this form to confirm your upcoming visit with Department of the Future&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>hr1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>s3pi</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>hr2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>completedtext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you for completing the health survey. We will contact you if we have any follow up questions. Please click next to continue to the &lt;/span&gt;&lt;b style=&quot;color: rgb(39, 80, 95); font-size: 14px;&quot;&gt;next &lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;step.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Health_Survey_Screen_1</name>
        <label>Health Survey Screen 1</label>
        <locationX>638</locationX>
        <locationY>498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Consent_Form_Decision</targetReference>
        </connector>
        <fields>
            <name>s1textheader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;VISIT CONFIRMATION FORM&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please use this form to confirm your upcoming visit with Department of the Future&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s1h1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>s1progressindiciator</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>s1h2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HealthSurveyWelcomeText</name>
            <fieldText>&lt;p&gt;The purpose of this survey is to assess the health of our visitors and ensure the Agency is responding to public health policies, procedures, and best practices.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Any information you provide in this survey will be used for the sole purpose of determining whether you will be granted access to the building. Any individually identifiable information will be kept secure and confidential. Access will be strictly limited to those who need to know to ensure a safe and healthy workplace.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;More information about our privacy practices is available in our Privacy Statement &lt;a href=&quot;https://google.com&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Consent_Form_Agreement_Choice</name>
            <choiceReferences>Consent_Form_Choice_Agree_1</choiceReferences>
            <choiceReferences>Consent_Form_Choice_Agree_2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HealthSurvey1</name>
        <label>HealthSurvey1</label>
        <locationX>873</locationX>
        <locationY>692</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>finalscreen</targetReference>
        </connector>
        <fields>
            <name>Screen2flowheadertext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;VISIT CONFIRMATION FORM&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please use this form to confirm your upcoming visit with Department of the Future&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s2r1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S2progressindicator</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>s2r2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>headertext</name>
            <fieldText>&lt;p&gt;&lt;b&gt;In defense of public health, your saftey, and the safety of our employees, please answer the following questions honestly. If you have any questions, please feel free to reach out to &lt;/b&gt;&lt;a href=&quot;mailto:health@departmentofthefuture.demo&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;health@departmentofthefuture.demo&lt;/b&gt;&lt;/a&gt;&lt;b&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactToggleText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;QUESTION 1:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;In the last 14 days, have you or someone you have been in contact with been exposed to an individual either quarantined or tested positive for the COVID-19 Novel Coronavirus?&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactRadio</name>
            <choiceReferences>True</choiceReferences>
            <choiceReferences>False</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Please Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>r3</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SymptomToggletext</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;QUESTION 2:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;Do you currently, or recently had any of the following symptoms?:&lt;/i&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;i&gt;Cough&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Shortness of breath or difficulty breathing&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Fever&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Chills&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Muscle pain&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Sore throat&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;New loss of taste or smell&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SymptomRadio</name>
            <choiceReferences>True</choiceReferences>
            <choiceReferences>False</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Please Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>hr3</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactSymptomSymptomToggletext</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;QUESTION 3:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;In the last 14 days, have you come in contact with anyone showing the following symptoms?:&lt;/i&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;i&gt;Trouble breathing&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Persistent pain or pressure in the chest&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;New confusion&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Inability to wake or stay awake&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;i&gt;Bluish lips or face&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactSymptomRadio</name>
            <choiceReferences>True</choiceReferences>
            <choiceReferences>False</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Please Answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>418</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Health_Survey_Screen_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>getFormID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ThisContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ThisVisitConfirmation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Visit_Confirmation__c</objectType>
    </variables>
</Flow>
