force-app/main/default/flows/Vendor_Tracking_Flow_Master.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignNewVisitConfirmationValue</name>
        <label>AssignNewVisitConfirmationValue</label>
        <locationX>1869</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>ThisVisitConfirmation.Confirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisVisitConfirmation.Confirmation_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateVisitConfirmationRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Stage_Contact_Info</name>
        <label>Set Current Stage Contact Info</label>
        <locationX>1360</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Info</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Vendor_Tracking_Flow_Update_Contact_Info_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCurrentStageHealthSurvey</name>
        <label>SetCurrentStageHealthSurvey</label>
        <locationX>1632</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Health_Survey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Vendor_Tracking_Flow_Health_Survey</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DoesThePasswordMatchDecision</name>
        <label>DoesThePasswordMatchDecision</label>
        <locationX>824</locationX>
        <locationY>595</locationY>
        <defaultConnector>
            <targetReference>Could_not_find_Visit_Confirmation_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>The_Password_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThisContact.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConfirmationEmail.value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_if_Visit_Confirmed_Decision</targetReference>
            </connector>
            <label>The Password Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Contact_Decision</name>
        <label>Find Contact Decision</label>
        <locationX>497</locationX>
        <locationY>459</locationY>
        <defaultConnector>
            <targetReference>Confirm_Email_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Could_not_find_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThisContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Could_not_find_contact_Screen</targetReference>
            </connector>
            <label>Could not find Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_if_Visit_Confirmed_Decision</name>
        <label>Find if Visit Confirmed Decision</label>
        <locationX>1107</locationX>
        <locationY>592</locationY>
        <defaultConnector>
            <targetReference>Event_Welcome_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Event_Already_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThisVisitConfirmation.Confirmed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visit_Already_Confirmed_Screen</targetReference>
            </connector>
            <label>Event Already Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Visit_Confirmation_Decision</name>
        <label>Find Visit Confirmation Decision</label>
        <locationX>214</locationX>
        <locationY>657</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visit_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThisVisitConfirmation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Could_not_find_Visit_Confirmation</targetReference>
            </connector>
            <label>Visit Not Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>EmergencyContactRelationshipType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Emergency_Contact_Relationship__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ConfirmIconFormula</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;img src=&quot;&apos; + {!$Setup.PBU_Community_URLs__c.Constituent_Self_Service__c} + &apos;/img/msg_icons/confirm32.png?&quot;&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>WarningIconFormula</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;img src=&quot;&apos; +  {!$Setup.PBU_Community_URLs__c.Constituent_Self_Service__c}  + &apos;/img/msg_icons/warning32.png?&quot;&gt;&apos;</expression>
    </formulas>
    <interviewLabel>Vendor Tracking Flow - Master {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vendor Tracking Flow - Master</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>435</locationX>
        <locationY>676</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Contact_Decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ThisVisitConfirmation.Contact__r.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ThisContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>MailingAddress</queriedFields>
        <queriedFields>Emergency_Contact_Email__c</queriedFields>
        <queriedFields>Emergency_Contact_Name__c</queriedFields>
        <queriedFields>Emergency_Contact_Phone_Number__c</queriedFields>
        <queriedFields>Emergency_Contact_Relationship__c</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Visit_Confirmation_Record</name>
        <label>Get Visit Confirmation Record</label>
        <locationX>36</locationX>
        <locationY>669</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Visit_Confirmation_Decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getFormID</elementReference>
            </value>
        </filters>
        <object>Visit_Confirmation__c</object>
        <outputReference>ThisVisitConfirmation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Event_Id__c</queriedFields>
        <queriedFields>Event_Type__c</queriedFields>
        <queriedFields>Confirmation_Date_Time__c</queriedFields>
        <queriedFields>Confirmed__c</queriedFields>
        <queriedFields>Government_POC_Email__c</queriedFields>
        <queriedFields>Government_POC_Phone__c</queriedFields>
        <queriedFields>Government_POC_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Event_Start_DateTime__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Facility__c</queriedFields>
        <queriedFields>Event_Subject__c</queriedFields>
        <queriedFields>Visit_Information_Summary__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateVisitConfirmationRecord</name>
        <label>UpdateVisitConfirmationRecord</label>
        <locationX>1872</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>ThisVisitConfirmation</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Confirm_Email_Screen</name>
        <label>Confirm Email Screen</label>
        <locationX>644</locationX>
        <locationY>592</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DoesThePasswordMatchDecision</targetReference>
        </connector>
        <fields>
            <name>screen1header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;VISIT CONFIRMATION FORM&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please use this form to confirm your upcoming visit with Department of the Future&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen1horizontalrule</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>confirmemailscreentext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please confirm your email address to access your Visit Confirmation Form.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ConfirmationEmailCheck</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1871</locationX>
        <locationY>732</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>confirmationscreentext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;VISIT CONFIRMATION FORM&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please use this form to confirm your upcoming visit with Department of the Future&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fchr1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>finalprogressindicator</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Completed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fchr2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConfirmationMessageText</name>
            <fieldText>&lt;p&gt;Ok, you are all set. We have updated your contact info. Please hit finish to close out the flow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Could_not_find_contact_Screen</name>
        <label>Could not find contact Screen</label>
        <locationX>505</locationX>
        <locationY>203</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>couldnotfindcontactscreentext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;VISIT CONFIRMATION FORM&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please use this form to confirm your upcoming visit with Department of the Future&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>couldnotfindhr1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CouldNotFindVisitText_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!WarningIconFormula}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Sorry, we are having issues finding your contact record. Please try again soon.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Could_not_find_Visit_Confirmation</name>
        <label>Could not find Visit Confirmation</label>
        <locationX>252</locationX>
        <locationY>395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CouldNotFindVisitText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!WarningIconFormula}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sorry, we could not find this visit confirmation record. Please contact &lt;a href=&quot;mailto:support@agencyofthefuture.demo&quot; target=&quot;_blank&quot;&gt;support@agencyofthefuture.demo&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Could_not_find_Visit_Confirmation_0</name>
        <label>Could not find Visit Confirmation</label>
        <locationX>842</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>couldnotfindtext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;VISIT CONFIRMATION FORM&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please use this form to confirm your upcoming visit with Department of the Future&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>couldnotfindscreenhr1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CouldNotFindVisitText_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!WarningIconFormula}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;We apologize, that email address does not match our records. Please contact &lt;/span&gt;&lt;a href=&quot;mailto:support@agencyofthefuture.demo&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;support@agencyofthefuture.demo&lt;/a&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; for any questions or support.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Event_Welcome_Screen</name>
        <label>Event Welcome Screen</label>
        <locationX>1344</locationX>
        <locationY>501</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Current_Stage_Contact_Info</targetReference>
        </connector>
        <fields>
            <name>WelcomeScreenHeaderText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;VISIT CONFIRMATION FORM&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please use this form to confirm your upcoming visit with Department of the Future&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s1h1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>s1progressindicator</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Welcome</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>s1h2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WelcomeScreenText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Hi {!ThisContact.FirstName},&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;We are excited you are coming to visit us. We need to collect some information to ensure a great experience. If you have any questions, please contact us at &lt;/span&gt;&lt;a href=&quot;mailto:support@departmentofthefuture.demo&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;support@departmentofthefuture.demo&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WelcomeScreenHeaderRule</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SPWelcomeScreenTextInfo</name>
            <fieldText>&lt;p&gt;{!ThisVisitConfirmation.Visit_Information_Summary__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Visit_Already_Confirmed_Screen</name>
        <label>Visit Already Confirmed Screen</label>
        <locationX>1114</locationX>
        <locationY>329</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>alreadyconfirmedtext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;VISIT CONFIRMATION FORM&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please use this form to confirm your upcoming visit with Department of the Future&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scompletedh1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scompletedprogressindicator</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Completed</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scompletedh2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VisitAlreadyConfirmedScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!ConfirmIconFormula}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;This visit was already confirmed. Thanks for your help!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;If you think this message is in error, please reach out to &lt;/span&gt;&lt;a href=&quot;mailto:support@departmentofthefuture.demo&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;support@departmentofthefuture.demo&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Completed</name>
        <isActive>true</isActive>
        <label>Completed</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Contact_Info</name>
        <isActive>true</isActive>
        <label>Contact Info</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Health_Survey</name>
        <isActive>true</isActive>
        <label>Health Survey</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Welcome</name>
        <isActive>true</isActive>
        <label>Welcome</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>60</locationX>
        <locationY>412</locationY>
        <connector>
            <targetReference>Get_Visit_Confirmation_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Vendor_Tracking_Flow_Health_Survey</name>
        <label>Run Vendor Tracking Flow - Health Survey</label>
        <locationX>1667</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>AssignNewVisitConfirmationValue</targetReference>
        </connector>
        <flowName>Vendor_Tracking_Flow_Health_Survey</flowName>
        <inputAssignments>
            <name>ThisContact</name>
            <value>
                <elementReference>ThisContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ThisVisitConfirmation</name>
            <value>
                <elementReference>ThisVisitConfirmation</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ThisContact</assignToReference>
            <name>ThisContact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ThisVisitConfirmation</assignToReference>
            <name>ThisVisitConfirmation</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Run_Vendor_Tracking_Flow_Update_Contact_Info_Flow</name>
        <label>Run Vendor Tracking Flow - Update Contact Info Flow</label>
        <locationX>1490</locationX>
        <locationY>516</locationY>
        <connector>
            <targetReference>SetCurrentStageHealthSurvey</targetReference>
        </connector>
        <flowName>Vendor_Tracking_Flow_Update_Contact_Info</flowName>
        <inputAssignments>
            <name>ThisContact</name>
            <value>
                <elementReference>ThisContact</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ThisContact</assignToReference>
            <name>ThisContact</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ConfirmationEmailCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getFormID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ThisContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ThisVisitConfirmation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Visit_Confirmation__c</objectType>
    </variables>
</Flow>
