force-app/main/default/flows/Vendor_Tracking_Flow_Create_New_Visit_Confirmation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>CreateVisitConfirmationApex</name>
        <label>CreateVisitConfirmationApex</label>
        <locationX>1375</locationX>
        <locationY>422</locationY>
        <actionName>VisitConfirmationCreateVC</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getVisitConfirmation</targetReference>
        </connector>
        <inputParameters>
            <name>newVisitConfirmation</name>
            <value>
                <elementReference>NewVisitConfirmation</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Assign_Room_By_Government_POC</name>
        <label>Assign Room By Government POC</label>
        <locationX>950</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>RoomId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetGovernmentPOC.Room__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getRoomRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Room_By_Lookup</name>
        <label>Assign Room By Lookup</label>
        <locationX>786</locationX>
        <locationY>679</locationY>
        <assignmentItems>
            <assignToReference>RoomId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoomLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getRoomRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This is probably a debug or demo</description>
        <name>Set_Stage</name>
        <label>Create Stages</label>
        <locationX>50</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Debug</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Completed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage1</name>
        <label>Set Stage</label>
        <locationX>228</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Debug</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VisitConfirmationAssignment</name>
        <label>VisitConfirmationAssignment</label>
        <locationX>1375</locationX>
        <locationY>207</locationY>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Event_Start_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisContact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisContact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisContact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Event_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Event_Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Event_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OwnerRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewVisitConfirmation.Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getFacilityRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateVisitConfirmationApex</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Provided_Room_Decision</name>
        <label>Provided Room Decision</label>
        <locationX>775</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Assign_Room_By_Government_POC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provided_Room</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RoomLookup.recordName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Room_By_Lookup</targetReference>
            </connector>
            <label>Provided Room</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Record_Provided</name>
        <label>Was Record Provided?</label>
        <locationX>44</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>Set_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Was_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThisContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Event_Screen</targetReference>
            </connector>
            <label>Record Was Provided</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>VisitConfirmationTypeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Event_Type__c</picklistField>
        <picklistObject>Visit_Confirmation__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create New Vendor Visit Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vendor Tracking Flow - Create New Visit Confirmation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>383</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Event_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ThisContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Emergency_Contact_Email__c</queriedFields>
        <queriedFields>Emergency_Contact_Phone_Number__c</queriedFields>
        <queriedFields>Emergency_Contact_Relationship__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getFacilityRecord</name>
        <label>getFacilityRecord</label>
        <locationX>1156</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRoomRecord.Facility__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Facility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetGovernmentPOC</name>
        <label>GetGovernmentPOC</label>
        <locationX>588</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Room_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GovernmentPOC.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Room__c</queriedFields>
        <queriedFields>Office_Facility__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOwner</name>
        <label>GetOwner</label>
        <locationX>1152</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VisitConfirmationAssignment</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetGovernmentPOC.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetGovernmentPOC.LastName</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>OwnerRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRoomRecord</name>
        <label>getRoomRecord</label>
        <locationX>1162</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getFacilityRecord</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RoomId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Room__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getVisitConfirmation</name>
        <label>getVisitConfirmation</label>
        <locationX>1374</locationX>
        <locationY>605</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Confirmed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ThisContact.Id</elementReference>
            </value>
        </filters>
        <object>Visit_Confirmation__c</object>
        <outputReference>NewVisitConfirmation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Confirmed__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>URL__c</queriedFields>
        <queriedFields>Event_Type__c</queriedFields>
        <queriedFields>Facility__c</queriedFields>
        <queriedFields>Event_Subject__c</queriedFields>
        <queriedFields>Event_Id__c</queriedFields>
        <queriedFields>Event_Start_DateTime__c</queriedFields>
        <queriedFields>Confirmation_Date_Time__c</queriedFields>
        <queriedFields>Government_POC_Email__c</queriedFields>
        <queriedFields>Government_POC_Name__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Government_POC_Phone__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Owner_Contact_Id__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Room__c</queriedFields>
        <queriedFields>Visit_Information_Summary__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1157</locationX>
        <locationY>339</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetOwner</targetReference>
        </connector>
        <fields>
            <name>screen3headertext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;VISIT CHECK-IN&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screenHR2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen3PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screenHR</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConfirmationScreenText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;If the below meeting information is correct, please hit next.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Date&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: {!Meeting_Start_Time}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿Subject&lt;/b&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;: {!Event_Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Government POC&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: {!GetGovernmentPOC.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Site&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: {!GetGovernmentPOC.Office_Facility__r.Facility_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Room&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;: {!getRoomRecord.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_New_Event_Screen</name>
        <label>Create New Event Screen</label>
        <locationX>387</locationX>
        <locationY>233</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetGovernmentPOC</targetReference>
        </connector>
        <fields>
            <name>Visitcheckintext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;VISIT CHECK-IN&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen1FlowHeader2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen1PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen1FlowHeader</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Event_Name</name>
            <dataType>String</dataType>
            <fieldText>Event Purpose</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Meeting_Start_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Meeting Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GovernmentPOC</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Government POC</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Visit_Confirmation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Get_Room_Screen</name>
        <label>Get Room Screen</label>
        <locationX>785</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Provided_Room_Decision</targetReference>
        </connector>
        <fields>
            <name>roomlookupscreenheadertext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;VISIT CHECK-IN&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vcihr1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen2PI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>vcihr2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>facilityInfo</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Facility&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;: {!GetGovernmentPOC.Office_Facility__r.Facility_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Address&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!GetGovernmentPOC.Office_Facility__r.Street__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;{!GetGovernmentPOC.Office_Facility__r.City__c}, {!GetGovernmentPOC.Office_Facility__r.State_Province__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RoomLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetGovernmentPOC.Office_Facility__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Room__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What Room Will you be meeting in?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Visit_Confirmation__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displaytext</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;If unknown, please hit next.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Completed</name>
        <isActive>false</isActive>
        <label>Completed</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Debug</name>
        <isActive>false</isActive>
        <label>Debug</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>53</locationX>
        <locationY>20</locationY>
        <connector>
            <targetReference>Was_Record_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewEventRelation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>NewVisitConfirmation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Visit_Confirmation__c</objectType>
    </variables>
    <variables>
        <name>OwnerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>OwnerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RoomId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetGovernmentPOC.Office_Facility__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>ThisContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ThisFacility</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Facility__c</objectType>
    </variables>
    <variables>
        <name>ThisRoom</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Room__c</objectType>
    </variables>
</Flow>
