force-app/main/default/flows/Visitor_Checkin_Flow_Master.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignNewVisitConfirmationValue</name>
        <label>AssignNewVisitConfirmationValue</label>
        <locationX>1981</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>ThisVisitConfirmation.Confirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ThisVisitConfirmation.Confirmation_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateVisitConfirmationRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOfficeVisitRecord</name>
        <label>AssignOfficeVisitRecord</label>
        <locationX>1881</locationX>
        <locationY>1119</locationY>
        <assignmentItems>
            <assignToReference>NewOfficeVisit.Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOfficeVisit.Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisVisitConfirmation.Facility__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOfficeVisit.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisVisitConfirmation.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOfficeVisit.Visitor_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vendor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOfficeVisit.Visitor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisVisitConfirmation.Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOfficeVisit.Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisVisitConfirmation.Room__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOfficeVisit.Floor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisVisitConfirmation.Room__r.Floor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOfficeVisit.Room_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThisVisitConfirmation.Room__r.Room_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateOfficeVisitRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Stage_Contact_Info</name>
        <label>Set Current Stage Contact Info</label>
        <locationX>1434</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Info</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Vendor_Tracking_Flow_Update_Contact_Info_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_Stage_Visit_Info</name>
        <label>Set Current Stage Visit Info</label>
        <locationX>579</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visit_Info</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Visit_Confirmation_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCurrentStageCompleted</name>
        <label>SetCurrentStageCompleted</label>
        <locationX>1133</locationX>
        <locationY>735</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Completed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Visit_Already_Confirmed_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCurrentStageHealthSurvey</name>
        <label>SetCurrentStageHealthSurvey</label>
        <locationX>1650</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Health_Survey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Vendor_Tracking_Flow_Health_Survey</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Find_Contact_Decision</name>
        <label>Could not find contact decision</label>
        <locationX>432</locationX>
        <locationY>486</locationY>
        <defaultConnector>
            <targetReference>Set_Current_Stage_Visit_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Could_not_find_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThisContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Could_not_find_contact_Screen</targetReference>
            </connector>
            <label>Could not find Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_if_Visit_Confirmed_Decision</name>
        <label>Find if Visit Confirmed Decision</label>
        <locationX>1049</locationX>
        <locationY>418</locationY>
        <defaultConnector>
            <targetReference>Event_Welcome_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Event_Already_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThisVisitConfirmation.Confirmed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCurrentStageCompleted</targetReference>
            </connector>
            <label>Event Already Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Visit_Confirmation_Decision</name>
        <label>Find Visit Confirmation Decision</label>
        <locationX>847</locationX>
        <locationY>427</locationY>
        <defaultConnector>
            <targetReference>Find_if_Visit_Confirmed_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visit_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ThisVisitConfirmation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Could_not_find_Visit_Confirmation_Screen</targetReference>
            </connector>
            <label>Visit Not Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>EmergencyContactRelationshipType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Emergency_Contact_Relationship__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ConfirmIconFormula</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;img src=&quot;&apos; + {!$Setup.PBU_Community_URLs__c.Constituent_Self_Service__c} + &apos;/img/msg_icons/confirm32.png?&quot;&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>WarningIconFormula</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;img src=&quot;&apos; +  {!$Setup.PBU_Community_URLs__c.Constituent_Self_Service__c}  + &apos;/img/msg_icons/warning32.png?&quot;&gt;&apos;</expression>
    </formulas>
    <interviewLabel>Visitor Checkin Flow - Master {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visitor Checkin Flow - Master</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateOfficeVisitRecord</name>
        <label>CreateOfficeVisitRecord</label>
        <locationX>779</locationX>
        <locationY>1178</locationY>
        <connector>
            <targetReference>Confirm_Email_Screen</targetReference>
        </connector>
        <inputReference>NewOfficeVisit</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>271</locationX>
        <locationY>546</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Contact_Decision</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConfirmationEmail.value</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ThisContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>MailingAddress</queriedFields>
        <queriedFields>Emergency_Contact_Email__c</queriedFields>
        <queriedFields>Emergency_Contact_Name__c</queriedFields>
        <queriedFields>Emergency_Contact_Phone_Number__c</queriedFields>
        <queriedFields>Emergency_Contact_Relationship__c</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Visit_Confirmation_Record</name>
        <label>Get Visit Confirmation Record</label>
        <locationX>724</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Visit_Confirmation_Decision</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ThisContact.Id</elementReference>
            </value>
        </filters>
        <object>Visit_Confirmation__c</object>
        <outputReference>ThisVisitConfirmation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Event_Id__c</queriedFields>
        <queriedFields>Event_Type__c</queriedFields>
        <queriedFields>Confirmation_Date_Time__c</queriedFields>
        <queriedFields>Confirmed__c</queriedFields>
        <queriedFields>Government_POC_Email__c</queriedFields>
        <queriedFields>Government_POC_Phone__c</queriedFields>
        <queriedFields>Government_POC_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Event_Start_DateTime__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Facility__c</queriedFields>
        <queriedFields>Event_Subject__c</queriedFields>
        <queriedFields>Room__c</queriedFields>
        <queriedFields>Owner_Contact_Id__c</queriedFields>
        <queriedFields>Visit_Information_Summary__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>UpdateVisitConfirmationRecord</name>
        <label>UpdateVisitConfirmationRecord</label>
        <locationX>2042</locationX>
        <locationY>601</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputReference>ThisVisitConfirmation</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm_Email_Screen</name>
        <label>Confirm Email Screen</label>
        <locationX>76</locationX>
        <locationY>426</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <fields>
            <name>screen1header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;VISIT CHECK-IN&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen1HR1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen1pi</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Welcome</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>screen1horizontalrule</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>confirmemailscreentext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;To start, what email address did you use to confirm this visit?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>2022</locationX>
        <locationY>868</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignOfficeVisitRecord</targetReference>
        </connector>
        <fields>
            <name>confirmationscreentext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;VISIT CONFIRMATION FORM&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please use this form to confirm your upcoming visit with Department of the Future&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fchr1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>finalprogressindicator</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Completed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>fchr2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConfirmationMessageText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!ConfirmIconFormula}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Ok, you are all set. If the information below is correct, hit finish and we will contact your POC to come get you.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Hi {!ThisContact.FirstName},&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We were able to find your completed visit confirmation, so you are good to quick check-in! If the information below is correct, hit next and we will contact your POC to come get you.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ThisVisitConfirmation.Visit_Information_Summary__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Could_not_find_contact_Screen</name>
        <label>Could not find contact Screen</label>
        <locationX>449</locationX>
        <locationY>171</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirm_Email_Screen</targetReference>
        </connector>
        <fields>
            <name>couldnotfindcontactscreentext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;VISIT CHECK-IN&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>couldnotfindhr1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CouldNotFindContactImage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!WarningIconFormula}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CouldNotFindVisitText_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Sorry, we could not find that email in the system, please try again&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Could_not_find_Visit_Confirmation_Screen</name>
        <label>Could not find Visit Confirmation Screen</label>
        <locationX>761</locationX>
        <locationY>125</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RunNewVisitConfirmationFlow</targetReference>
        </connector>
        <fields>
            <name>CouldNotFindVisitConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;VISIT CHECK-IN&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>couldnotfindhr1_1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>novcPI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>couldnotfindhr1_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CouldNotFindContactImage_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!WarningIconFormula}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CouldNotFindVisitText_0_0</name>
            <fieldText>&lt;p&gt;It looks like this visit is not registered in our system. That&apos;s OK, we will do what we can. Lets start by collecting some information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Event_Welcome_Screen</name>
        <label>Visitor Checkin Welcome Screen</label>
        <locationX>1283</locationX>
        <locationY>415</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Current_Stage_Contact_Info</targetReference>
        </connector>
        <fields>
            <name>WelcomeScreenHeaderText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;VISIT CONFIRMATION FORM&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s1h1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>s1progressindicator</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Welcome</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>s1h2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WelcomeScreenText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!WarningIconFormula}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Hi {!ThisContact.FirstName},&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We apologize, but we could not find a completed visit confirmation from you, so we need to ask you just a few questions before we get to checking you in.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WelcomeScreenHeaderRule</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SPWelcomeScreenTextInfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!ThisVisitConfirmation.Visit_Information_Summary__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Event_Welcome_Screen_0</name>
        <label>Visitor Checkin Welcome Screen</label>
        <locationX>1320</locationX>
        <locationY>175</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Current_Stage_Contact_Info</targetReference>
        </connector>
        <fields>
            <name>WelcomeScreenHeaderText_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;VISIT CONFIRMATION FORM&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s1h1_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>s1progressindicator_0</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>s1h2_0</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WelcomeScreenText_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Now that we have confirmed your meeting information, we need to make sure that we have your up-to-date information. Please click next.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Visit_Already_Confirmed_Screen</name>
        <label>Visit Already Confirmed Screen</label>
        <locationX>1416</locationX>
        <locationY>836</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignOfficeVisitRecord</targetReference>
        </connector>
        <fields>
            <name>alreadyconfirmedtext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;VISITOR CHECK-IN&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scompletedh1</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scompletePI</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scompletedh2</name>
            <extensionName>c:horizontalRuleFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>vcheckinscreenicon</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!ConfirmIconFormula}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VisitAlreadyConfirmedScreen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Hi {!ThisContact.FirstName},&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We were able to find your completed visit confirmation, so you are good to quick check-in! If the information below is correct, hit next and we will contact your POC to come get you.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ThisVisitConfirmation.Visit_Information_Summary__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Completed</name>
        <isActive>true</isActive>
        <label>Completed</label>
        <stageOrder>6</stageOrder>
    </stages>
    <stages>
        <name>Contact_Info</name>
        <isActive>true</isActive>
        <label>Contact Info</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Health_Survey</name>
        <isActive>true</isActive>
        <label>Health Survey</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Visit_Info</name>
        <isActive>true</isActive>
        <label>Visit Info</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Welcome</name>
        <isActive>true</isActive>
        <label>Welcome</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>52</locationX>
        <locationY>286</locationY>
        <connector>
            <targetReference>Confirm_Email_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Vendor_Tracking_Flow_Health_Survey</name>
        <label>Run Vendor Tracking Flow - Health Survey</label>
        <locationX>1765</locationX>
        <locationY>549</locationY>
        <connector>
            <targetReference>AssignNewVisitConfirmationValue</targetReference>
        </connector>
        <flowName>Vendor_Tracking_Flow_Health_Survey</flowName>
        <inputAssignments>
            <name>ThisContact</name>
            <value>
                <elementReference>ThisContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ThisVisitConfirmation</name>
            <value>
                <elementReference>ThisVisitConfirmation</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ThisContact</assignToReference>
            <name>ThisContact</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ThisVisitConfirmation</assignToReference>
            <name>ThisVisitConfirmation</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Run_Vendor_Tracking_Flow_Update_Contact_Info_Flow</name>
        <label>Run Vendor Tracking Flow - Update Contact Info Flow</label>
        <locationX>1552</locationX>
        <locationY>606</locationY>
        <connector>
            <targetReference>SetCurrentStageHealthSurvey</targetReference>
        </connector>
        <flowName>Vendor_Tracking_Flow_Update_Contact_Info</flowName>
        <inputAssignments>
            <name>ThisContact</name>
            <value>
                <elementReference>ThisContact</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ThisContact</assignToReference>
            <name>ThisContact</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>RunNewVisitConfirmationFlow</name>
        <label>RunNewVisitConfirmationFlow</label>
        <locationX>1136</locationX>
        <locationY>150</locationY>
        <connector>
            <targetReference>Event_Welcome_Screen_0</targetReference>
        </connector>
        <flowName>Vendor_Tracking_Flow_Create_New_Visit_Confirmation</flowName>
        <inputAssignments>
            <name>ThisContact</name>
            <value>
                <elementReference>ThisContact</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ThisVisitConfirmation</assignToReference>
            <name>NewVisitConfirmation</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ConfirmationEmailCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOfficeVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Office_Visit__c</objectType>
    </variables>
    <variables>
        <name>ThisContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ThisVisitConfirmation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Visit_Confirmation__c</objectType>
    </variables>
</Flow>
